ion-content {
  --padding-start: 20px;
  --padding-end: 20px;

  .grid,
  ion-row,
  ion-col {
    height: 100%;
  }

  .left-col {
    background: #e5dede;

    ion-item {
      --background: #e5dede;
    }
  }
}
