ion-content {
  --padding-start: 0px;
  --padding-end: 0px;

  .grid,
  ion-row,
  ion-col {
    height: 100%;
  }

  .left-col {
    background: #f7f7f7;

    ion-item {
      --background: #f7f7f7;
    }
  }
}
.selected {
  --background: #ffffff !important;
}
.btnsSec {
  display: flex;
  justify-content: flex-end;
}
