ion-content {
  --padding-start: 0px;
  --padding-end: 0px;
  --padding-top: 20px;
  .grid,
  ion-row,
  ion-col {
    height: 100%;
  }

  .left-col {
    background: #f7f7f7;
    border-right: 1px solid #dddddd;
    ion-item {
      --background: #f7f7f7;
    }
  }
  .right_col {
    // border-left: 1px solid #dddddd;
  }
}
.selected {
  --background: #ffffff !important;
}
.btnsSec {
  display: flex;
  justify-content: flex-end;
}
