.logout {
  width: 46px;
  height: 46px;
  border-radius: 50%;
}
.home_btn {
  background: #ffffff;
  border-left: 3px solid #ffffff;
  height: 46px;
  --padding-start: 10px;
}

.home_btn.selected {
  border-left: 3px solid var(--ion-color-primary);
  font-weight: 700;
  color: var(--ion-color-primary);
}
.login {
  color: var(--ion-color-primary);
  --background: #ffffff;
  --padding-start: 10px;
  --padding-end: 10px;
  --border-radius: 4px;
}
ion-toolbar {
  --padding-top: 10px;
  --padding-bottom: 10px;
  --padding-end: 10px;
}
ion-title {
  color: #ffffff !important;
}
.profileimg {
  --padding-start: 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 8px;
  ion-avatar {
    margin-right: 10px;
  }
}
