<ion-header>
  <ion-toolbar mode="md" color="primary">
    <ion-title>Prediction detail</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <p class="commonFlex commonDesc">
      <span> {{ latestItem?.user?.name }}</span>
      <span>{{ latestItem?.type }}</span>
    </p>
    <p class="commonFlex commonDesc">
      <span> {{ latestItem?.stock?.symbol }}</span>
      <ion-chip color="success" *ngIf="latestItem?.status == 'PENDING'">
        <ion-icon name="radio-button-on-outline"></ion-icon>
        <ion-label>Active</ion-label>
      </ion-chip>
      <ion-chip
        color="danger"
        *ngIf="
          latestItem?.status == 'FAILED' || latestItem?.status == 'COMPLETED'
        "
      >
        <ion-icon name="close-circle-outline"></ion-icon>
        <ion-label>Closed</ion-label>
      </ion-chip>
    </p>
    <h1 class="commonMediumTitle commonTextLine">
      {{ latestItem?.stock?.name }}
    </h1>
    <p class="commonFlex commonFamily commonDesc">
      <span class=""
        >Created At : {{ latestItem?.createdAt | date : "dd-MMM-YYYY" }}</span
      >
      <span></span>
    </p>
    <p class="commonFlex commonFamily commonDesc">
      <span class=""
        >tradeDate : {{ latestItem?.tradeDate | date : "dd-MMM-YYYY" }}</span
      >
      <span>Expected ROR :{{latestItem?.['ROI']|number}}</span>
    </p>
    <p class="commonTitle-15 commonFlex commonFamily">
      <span>Buy Price : ₹{{ latestItem.buyPrice }}</span>
      <span>Sell Price : ₹{{ latestItem.sellPrice }}</span>
    </p>
    <p class="commonTitle-15 commonFlex commonFamily">
      <span>Stop Loss : ₹{{ latestItem.stopLoss || 0 }}</span>
    </p>
  </div>
</ion-content>
