<ion-header>
  <ion-toolbar mode="md" color="primary">
    <ion-title>Stock detail</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <p class="commonFlex commonDesc">
      <span> {{ stockDetail?.symbol }}</span>
    </p>
    <h1 class="commonMediumTitle commonTextLine">{{ stockDetail?.name }}</h1>
    <!-- <h2 class="stock_price">
      <span class="price"
        >${{ stockDetail?.meta["Global Quote"]["05. price"] }}</span
      >
      <span *ngIf="symbolIcon" class="percentageStyle down"
        ><ion-icon name="arrow-down-outline"></ion-icon
        >{{ stockDetail?.meta["Global Quote"]["10. change percent"] }}
      </span>
      <span *ngIf="!symbolIcon" class="percentageStyle up"
        ><ion-icon name="arrow-up-outline"></ion-icon
        >{{ stockDetail?.meta["Global Quote"]["10. change percent"] }}
      </span>
    </h2> -->
  </div>

  <ion-segment [value]="segmentValue" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="active">
      <ion-label class="ion-text-capitalize">Active</ion-label>
    </ion-segment-button>
    <ion-segment-button value="past">
      <ion-label class="ion-text-capitalize">Past</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ng-container *ngIf="segmentValue === 'active'; else past">
    <div
      class="predictor_item ion-hide-md-up"
      *ngFor="let item of predictorArray"
    >
      <h2 class="commonTitle-16 commonTextLine">{{ item.user.name }}</h2>
      <p class="commonFlex commonDesc">
        <span class="commonFamily"
          >Expected ROI : {{item?.['ROI'] | number}}</span
        >
        <span>{{ item?.type }}</span>
      </p>
      <p class="commonFlex commonDesc">
        <span class="commonFamily">
          {{ item.tradeDate | date : "dd/MM/YYYY" }}</span
        >
        <ion-chip color="success" *ngIf="item?.status == 'PENDING'">
          <ion-icon name="radio-button-on-outline"></ion-icon>
          <ion-label>Active</ion-label>
        </ion-chip>
        <ion-chip
          color="danger"
          *ngIf="item?.status == 'FAILED' || item?.status == 'COMPLETED'"
        >
          <ion-icon name="close-circle-outline"></ion-icon>
          <ion-label>Closed</ion-label>
        </ion-chip>
      </p>
      <p class="commonFlex commonTitle-15">
        <span class="commonFamily">Buyprice : ₹ {{ item?.buyPrice }}</span>
        <span class="commonFamily">Sellprice : ₹ {{ item?.sellPrice }}</span>
      </p>
    </div>

    <table class="active_table ion-hide-md-down">
      <thead>
        <tr>
          <th>User Name</th>
          <th>Tradedate</th>
          <th>Buy Price</th>
          <th>Sell Price</th>
          <th>Stop Loss</th>
          <th>Type</th>
          <th>Expected ROI</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of predictorArray">
          <td>{{ item.user.name }}</td>
          <td class="commonFamily">
            {{ item.tradeDate | date : "dd/MM/YYYY" }}
          </td>
          <td class="commonFamily">₹{{ item.buyPrice }}</td>
          <td class="commonFamily">₹{{ item.sellPrice }}</td>
          <td class="commonFamily">₹{{ item.stopLoss || 0 }}</td>
          <td>{{ item.type }}</td>
          <td class="commonFamily">{{ item["ROI"] | number }}</td>

          <td>
            <ion-chip color="success" *ngIf="item?.status == 'PENDING'">
              <ion-icon name="radio-button-on-outline"></ion-icon>
              <ion-label>Active</ion-label>
            </ion-chip>
            <ion-chip
              color="danger"
              *ngIf="item?.status == 'FAILED' || item?.status == 'COMPLETED'"
            >
              <ion-icon name="close-circle-outline"></ion-icon>
              <ion-label>Closed</ion-label>
            </ion-chip>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="common_nodata" *ngIf="!predictorArray.length">
      <img src="assets/images/no_data.svg" alt="" />
      <h5>No active found</h5>
    </div>
  </ng-container>
  <ng-template #past>
    <div
      class="predictor_item ion-hide-md-up"
      *ngFor="let item of predictorArray"
    >
      <h2 class="commonTitle-16 commonTextLine">{{ item.user.name }}</h2>
      <p class="commonFlex commonDesc">
        <span class="commonFamily"
          >Expected ROI : {{item?.['ROI'] | number}}</span
        >
        <span>{{ item?.type }}</span>
      </p>
      <p class="commonFlex commonDesc">
        <span class="commonFamily">
          {{ item.tradeDate | date : "dd/MM/YYYY" }}</span
        >
        <ion-chip color="success" *ngIf="item?.status == 'PENDING'">
          <ion-icon name="radio-button-on-outline"></ion-icon>
          <ion-label>Active</ion-label>
        </ion-chip>
        <ion-chip
          color="danger"
          *ngIf="item?.status == 'FAILED' || item?.status == 'COMPLETED'"
        >
          <ion-icon name="close-circle-outline"></ion-icon>
          <ion-label>Closed</ion-label>
        </ion-chip>
      </p>
      <p class="commonFlex commonTitle-15">
        <span class="commonFamily">Buyprice : ₹ {{ item?.buyPrice }}</span>
        <span class="commonFamily">Sellprice : ₹ {{ item?.sellPrice }}</span>
      </p>
    </div>
    <table class="active_table ion-hide-md-down">
      <thead>
        <tr>
          <th>User Name</th>
          <th>Tradedate</th>
          <th>Buy Price</th>
          <th>Sell Price</th>
          <th>Stop Loss</th>
          <th>Type</th>
          <th>Expected ROI</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of predictorArray">
          <td>{{ item.user.name }}</td>
          <td class="commonFamily">
            {{ item.tradeDate | date : "dd/MM/YYYY" }}
          </td>
          <td class="commonFamily">₹{{ item.buyPrice }}</td>
          <td class="commonFamily">₹{{ item.sellPrice }}</td>
          <td class="commonFamily">₹{{ item.stopLoss || 0 }}</td>
          <td>{{ item.type }}</td>
          <td class="commonFamily">{{ item["ROI"] | number }}</td>
          <td>
            <ion-chip color="success" *ngIf="item?.status == 'PENDING'">
              <ion-icon name="radio-button-on-outline"></ion-icon>
              <ion-label>Active</ion-label>
            </ion-chip>
            <ion-chip
              color="danger"
              *ngIf="item?.status == 'FAILED' || item?.status == 'COMPLETED'"
            >
              <ion-icon name="close-circle-outline"></ion-icon>
              <ion-label>Closed</ion-label>
            </ion-chip>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="common_nodata" *ngIf="!predictorArray.length">
      <img src="assets/images/no_data.svg" alt="" />
      <h5>No past found</h5>
    </div>
  </ng-template>
</ion-content>
