ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;

  .stock_price {
    margin-top: 0;
    text-align: left;
    height: 37px;
    line-height: 37px;

    .price {
      font-size: 24px;
      color: #000000;
      font-weight: 600;
      font-family: "Open Sans", sans-serif;
    }
    .percentageStyle {
      padding: 0 10px;
      border-radius: 8px;
      margin-left: 10px;
      font-size: 16px;
      display: inline-flex;
      align-items: center;
      font-weight: 700;
      font-family: "Open Sans", sans-serif;
    }
    .down {
      background: #ffe2e2;
      color: #b73f3f;
      ion-icon {
        color: #b73f3f;
        font-size: 16px;
      }
    }
    .up {
      background: #cff9cf;
      color: #238923;
      ion-icon {
        color: #238923;
        font-size: 16px;
      }
    }
  }
  .predictor_item {
    display: block;
    padding: 5px 0;
    border-bottom: 1px solid #dddddd;

    h2 {
      padding-bottom: 5px;
    }
  }
  ion-chip {
    margin: 0;
  }
  .active_table {
    margin-top: 10px;
    width: 100%;

    tr {
      height: 40px;
      th {
        font-size: 16px;
        text-align: left;
      }
      td {
        font-size: 14px;
      }
    }
  }
}
