ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;
  .symbol_time {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .time {
      font-size: 13px;
      color: #000000;
    }
  }
  .stock_symbol {
    text-align: left;
    font-size: 13px;
    margin-top: 0;
    color: gray;
    margin-bottom: 10px;
  }
  .stock_name {
    font-size: 22px;
    margin-top: 0;
    color: #000000;
    text-align: left;
  }
  .stock_price {
    margin-top: 0;
    text-align: left;
    height: 37px;
    line-height: 37px;

    .price {
      font-size: 24px;
      color: #000000;
      font-weight: 600;
      font-family: "Open Sans", sans-serif;
    }
    .stock_percent_down {
      background: #ffe2e2;
      padding: 4px;
      border-radius: 8px;
      color: #b73f3f;
      margin-left: 10px;
      font-size: 16px;
      display: inline-flex;
      align-items: center;
      font-weight: 700;
      ion-icon {
        color: #b73f3f;
        font-size: 16px;
      }
    }
    .stock_percent_up {
      background: #cff9cf;
      padding: 10px;
      border-radius: 8px;
      color: #238923;
      margin-left: 10px;
      font-size: 16px;
      display: inline-flex;
      align-items: center;
      font-weight: 700;
      ion-icon {
        color: #238923;
        font-size: 16px;
      }
    }
  }
  .predictor_item {
    --inner-padding-end: 0;
    ion-label {
      white-space: unset !important;
      padding-left: 10px;
    }
  }
  .price_tag {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .space {
      border-right: 2px solid #dddddd;
      margin: 0 8px;
    }
    .price {
      font-size: 18px;
      color: #000000;
      font-weight: 500;
      font-family: "Open Sans", sans-serif;
    }
  }
  .active_table {
    margin-top: 10px;
    width: 100%;

    tr {
      height: 40px;
      th {
        font-size: 16px;
        text-align: left;
      }
      td {
        font-size: 14px;
      }
    }
  }
}
