<ion-header mode="md" class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-buttons slot="end" class="ion-hide-md-down">
      <ion-button
        fill="clear"
        class="home_btn"
        [routerLink]="'/pages/home'"
        routerLinkActive="selected"
        routerDirection="root"
      >
        Home
      </ion-button>
      <ion-button
        fill="clear"
        class="home_btn"
        [routerLink]="'/pages/search-result'"
        routerLinkActive="selected"
        routerDirection="root"
      >
        Search
      </ion-button>
      <ion-button
        fill="clear"
        class="home_btn"
        [routerLink]="'/pages/stocks'"
        routerLinkActive="selected"
        routerDirection="root"
      >
        Stocks
      </ion-button>

      <ion-button
        fill="clear"
        class="home_btn"
        [routerLink]="'/pages/prediction'"
        routerLinkActive="selected"
        routerDirection="root"
      >
        Predictions
      </ion-button>
      <ion-button
        fill="clear"
        *ngIf="userData?.role === 'predictor'"
        class="home_btn"
        [routerLink]="'/pages/myprediction'"
        routerLinkActive="selected"
        routerDirection="root"
      >
        My Predictions
      </ion-button>
      <ion-button
        *ngIf="!userData"
        (click)="loginClick()"
        class="login ion-text-capitalize"
      >
        login</ion-button
      >
      <ng-container *ngIf="userData">
        <ion-button
          *ngIf="userData?.picture; else thumbPic"
          (click)="logout($event)"
          class="logout commonBackgroundImg"
          [style.background]="'url(' + userData?.picture + ')'"
        >
        </ion-button>
        <ng-template #thumbPic>
          <ion-button
            (click)="logout($event)"
            class="logout commonBackgroundImg"
            [style.background]="
              'url(' + '../../assets/images/thumbnail.png' + ')'
            "
          >
          </ion-button>
        </ng-template>
      </ng-container>
    </ion-buttons>
    <ion-buttons slot="end" class="ion-hide-md-up">
      <ion-button (click)="menuOpen()" *ngIf="!isMenu">
        <ion-icon
          slot="icon-only"
          class="ion_menu"
          name="menu-outline"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <a href="#">
        <img class="logo_img" src="assets/images/INDIAPREDICT.png" alt="" />
      </a>
    </ion-title>
  </ion-toolbar>
</ion-header>
