ion-header {
  background: #092b66;
  ion-toolbar {
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-end: 10px;
    --background: #092b66;
  }
  .login {
    color: var(--ion-color-primary);
    --background: #ffffff;
    --border-radius: 4px;
    height: 46px;
    --padding-start: 32px;
    --padding-end: 32px;
    font-weight: 700;
  }
  .logout {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
  }
  .logo_img {
    width: 130px;
  }

  .home_btn {
    height: 46px;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    margin-right: 10px;
    --padding-start: 20px;
    --padding-end: 20px;
    text-transform: capitalize;
    color: #ececec;
  }

  .home_btn.selected {
    color: #ffffff;
    font-weight: 700;
  }
}
@media (max-width: 575px) {
  ion-header {
    .logo_img {
      width: 100px;
    }
    .ion_menu {
      color: #ffffff;
    }
  }
}
