<ion-header mode="md">
  <ion-toolbar mode="md">
    <ion-buttons slot="end">
      <ion-button
        *ngIf="!userData"
        class="logout"
        (click)="loginClick()"
        class="ion-text-capitalize"
      >
        <!-- <ion-icon slot="icon-only" name="log-in-outline"></ion-icon> -->
        login
      </ion-button>
      <ion-button
        *ngIf="userData"
        class="login commonBackgroundImg"
        [style.background]="'url(' + userData?.picture + ')'"
      >
      </ion-button>
    </ion-buttons>
    <ion-title>Aipredict </ion-title>
  </ion-toolbar>
</ion-header>
