<ion-header mode="md">
  <ion-toolbar mode="md">
    <ion-buttons slot="end">
      <ion-button
        class="logout"
        (click)="loginClick()"
        class="ion-text-capitalize"
      >
        <!-- <ion-icon slot="icon-only" name="log-in-outline"></ion-icon> -->
        login
      </ion-button>
      <ion-button
        class="login"
        style="
          background-image: url('assets/images/logo.webp');
          background-size: cover;
        "
      >
      </ion-button>
    </ion-buttons>
    <ion-title>Aipredict </ion-title>
  </ion-toolbar>
</ion-header>
