<ion-header>
  <ion-toolbar mode="md" color="primary">
    <ion-title>Predictor detail</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <ion-item mode="md" lines="none" class="predictor_user">
      <ion-avatar>
        <img [src]="predictor?.picture" />
      </ion-avatar>
      <ion-label class="modal_label">
        <h2 class="commonTitle-16">{{ predictor?.name }}</h2>
        <p class="commonFlex commonDesc">
          <span
            >Expected ROR :
            <span class="commonFamily">
              {{predictor?.['ROI']/predictor?.predCount || 0 }}</span
            ></span
          >
        </p>
      </ion-label>
    </ion-item>
  </div>
  <ion-segment [value]="segmentValue" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="active">
      <ion-label class="ion-text-capitalize">Active</ion-label>
    </ion-segment-button>
    <ion-segment-button value="past">
      <ion-label class="ion-text-capitalize">Past</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ng-container *ngIf="segmentValue == 'active'; else past">
    <div
      class="predictor_item ion-hide-md-up"
      *ngFor="let item of predictorArray"
    >
      <h2 class="commonTitle-16 commonTextLine">{{ item.stock.name }}</h2>
      <p class="commonFlex commonDesc">
        <span class="commonFamily"
          >Expected ROR : {{item?.['ROI'] | number}}</span
        >
        <span>{{ item?.type }}</span>
      </p>
      <p class="commonFlex commonDesc">
        <span class="commonFamily">
          {{ item.tradeDate | date : "dd-MMM-YYYY" }}</span
        >
        <ion-chip color="success" *ngIf="item?.status == 'PENDING'">
          <ion-icon name="radio-button-on-outline"></ion-icon>
          <ion-label>Active</ion-label>
        </ion-chip>
        <ion-chip
          color="danger"
          *ngIf="item?.status == 'FAILED' || item?.status == 'COMPLETED'"
        >
          <ion-icon name="close-circle-outline"></ion-icon>
          <ion-label>Closed</ion-label>
        </ion-chip>
      </p>
      <p class="commonFlex commonTitle-15">
        <span class="commonFamily">Buyprice : ₹ {{ item?.buyPrice }}</span>
        <span class="commonFamily">Sellprice : ₹ {{ item?.sellPrice }}</span>
      </p>
    </div>

    <table class="active_table ion-hide-md-down">
      <thead>
        <tr>
          <th>Symbol</th>
          <th>Tradedate</th>
          <th>Buy Price</th>
          <th>Sell Price</th>
          <th>Stop Loss</th>
          <th>Type</th>
          <th>Expected ROR</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of predictorArray">
          <td>{{ item.stock.symbol }}</td>
          <td>{{ item.tradeDate | date : "dd-MMM-YYYY" }}</td>
          <td class="commonFamily">₹{{ item.buyPrice }}</td>
          <td class="commonFamily">₹{{ item.sellPrice }}</td>
          <td class="commonFamily">₹{{ item.stopLoss || 0 }}</td>
          <td>{{ item?.type }}</td>
          <td class="commonFamily">{{ item["ROI"] | number }}</td>
          <td>
            <ion-chip color="success" *ngIf="item?.status == 'PENDING'">
              <ion-icon name="radio-button-on-outline"></ion-icon>
              <ion-label>Active</ion-label>
            </ion-chip>
            <ion-chip
              color="danger"
              *ngIf="item?.status == 'FAILED' || item?.status == 'COMPLETED'"
            >
              <ion-icon name="close-circle-outline"></ion-icon>
              <ion-label>Closed</ion-label>
            </ion-chip>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="common_nodata" *ngIf="!predictorArray.length">
      <img src="assets/images/no_data.svg" alt="" />
      <h5>No active found</h5>
    </div>
  </ng-container>
  <ng-template #past>
    <div
      class="predictor_item ion-hide-md-up"
      *ngFor="let item of predictorArray"
    >
      <h2 class="commonTitle-16 commonTextLine">{{ item.stock.name }}</h2>
      <p class="commonFlex commonDesc">
        <span class="commonFamily"
          >Expected ROR : {{item?.['ROI'] | number}}</span
        >
        <span>{{ item?.type }}</span>
      </p>
      <p class="commonFlex commonDesc">
        <span class="commonFamily">
          {{ item.tradeDate | date : "dd-MMM-YYYY" }}</span
        >
        <ion-chip color="success" *ngIf="item?.status == 'PENDING'">
          <ion-icon name="radio-button-on-outline"></ion-icon>
          <ion-label>Active</ion-label>
        </ion-chip>
        <ion-chip
          color="danger"
          *ngIf="item?.status == 'FAILED' || item?.status == 'COMPLETED'"
        >
          <ion-icon name="close-circle-outline"></ion-icon>
          <ion-label>Closed</ion-label>
        </ion-chip>
      </p>
      <p class="commonFlex commonTitle-15">
        <span class="commonFamily">Buyprice : ₹ {{ item?.buyPrice }}</span>
        <span class="commonFamily">Sellprice : ₹ {{ item?.sellPrice }}</span>
      </p>
    </div>
    <table class="active_table ion-hide-md-down">
      <thead>
        <tr>
          <th>Symbol</th>
          <th>Tradedate</th>
          <th>Buy Price</th>
          <th>Sell Price</th>
          <th>Stop Loss</th>
          <th>Type</th>
          <th>Expected ROR</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of predictorArray">
          <td>{{ item.stock.symbol }}</td>
          <td>{{ item.tradeDate | date : "dd-MMM-YYYY" }}</td>
          <td class="commonFamily">₹{{ item.buyPrice }}</td>
          <td class="commonFamily">₹{{ item.sellPrice }}</td>
          <td class="commonFamily">₹{{ item.stopLoss || 0 }}</td>
          <td>{{ item?.type }}</td>
          <td class="commonFamily">{{ item["ROI"] | number }}</td>
          <td>
            <ion-chip color="success" *ngIf="item?.status == 'PENDING'">
              <ion-icon name="radio-button-on-outline"></ion-icon>
              <ion-label>Active</ion-label>
            </ion-chip>
            <ion-chip
              color="danger"
              *ngIf="item?.status == 'FAILED' || item?.status == 'COMPLETED'"
            >
              <ion-icon name="close-circle-outline"></ion-icon>
              <ion-label>Closed</ion-label>
            </ion-chip>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="common_nodata" *ngIf="!predictorArray.length">
      <img src="assets/images/no_data.svg" alt="" />
      <h5>No past found</h5>
    </div>
  </ng-template>
</ion-content>
