ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;
  --padding-bottom: 20px;

  .predictor_user {
    --padding-start: 0;
    .modal_label {
      padding-left: 10px;
    }
  }
  ion-chip {
    margin: 0;
  }
  .predictor_item {
    display: block;
    padding: 5px 0;
    border-bottom: 1px solid #dddddd;
  }

  .active_table {
    margin-top: 10px;
    width: 100%;

    tr {
      height: 40px;
      th {
        font-size: 16px;
        text-align: left;
      }
      td {
        font-size: 14px;
      }
    }
  }
}
