<!-- <app-header></app-header> -->
<ion-content>
  <div class="common_content my-content">
    <ion-toolbar mode="md">
      <ion-title class="prediction_title">My Predictions</ion-title>
      <ion-buttons slot="end">
        <ion-button class="common_add" (click)="addpredict(false)">
          <ion-icon slot="start" name="add"></ion-icon>
          New Prediction
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

    <table class="normal_table ion-hide-md-down">
      <thead>
        <tr>
          <th>Stock</th>
          <th>Symbol</th>
          <th>Trade Date</th>
          <th>Buy Price</th>
          <th>Sell Price</th>
          <th>Stop Loss</th>
          <th>Type</th>
          <th>Expected ROR</th>
          <th>ROR</th>

          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of predictions">
          <td>{{item?.stock?.name}}</td>
          <td>{{item?.stock?.symbol}}</td>
          <td class="commonFamily">{{item.tradeDate | date:'dd-MMM-YYYY'}}</td>
          <td class="commonFamily">₹{{item.buyPrice}}</td>
          <td class="commonFamily">₹{{item.sellPrice}}</td>
          <td class="commonFamily">₹{{item.stopLoss || 0}}</td>
          <td class="commonFamily">{{item.type}}</td>
          <td class="commonFamily">{{item['expectedROI'] | number}}</td>
          <td class="commonFamily">{{item['ROI'] | number}}</td>
          <td>
            <ion-chip color="success" *ngIf="item?.status === 'PENDING'">
              <ion-icon name="radio-button-on-outline"></ion-icon>
              <ion-label>Active</ion-label>
            </ion-chip>
            <ion-chip
              color="danger"
              *ngIf="item?.status === 'FAILED' || item?.status === 'COMPLETED'"
            >
              <ion-icon name="close-circle-outline"></ion-icon>
              <ion-label>Closed</ion-label>
            </ion-chip>
          </td>
          <td>
            <ion-button
              *ngIf="item.status ==='PENDING'"
              class="morebtn"
              (click)="actionClick($event,item)"
              fill="clear"
            >
              <ion-icon
                slot="icon-only"
                name="ellipsis-vertical-outline"
              ></ion-icon>
            </ion-button>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngFor="let item of predictions" class="predict_item ion-hide-md-up">
      <p class="commonFlex commonDesc">
        <span> {{item.stock.symbol}}</span>
        <ion-button
          *ngIf="item.status ==='PENDING'"
          (click)="actionClick($event,item)"
          class="morebtn"
          fill="clear"
        >
          <ion-icon
            slot="icon-only"
            name="ellipsis-vertical-outline"
          ></ion-icon>
        </ion-button>
      </p>
      <h2 class="commonTitle-16 commonTextLine">{{item.stock.name}}</h2>
      <p class="commonFlex commonFamily commonDesc">
        <span>{{item.tradeDate | date:'dd-MM-YYYY'}}</span>
        <span>{{item.type}}</span>
      </p>
      <p class="commonFlex commonFamily commonDesc">
        <span>Expected ROR : {{item?.['ROI'] | number}}</span>
        <ion-chip color="success" *ngIf="item?.status === 'PENDING'">
          <ion-icon name="radio-button-on-outline"></ion-icon>
          <ion-label>Active</ion-label>
        </ion-chip>
        <ion-chip
          color="danger"
          *ngIf="item?.status === 'FAILED' || item?.status === 'COMPLETED'"
        >
          <ion-icon name="close-circle-outline"></ion-icon>
          <ion-label>Closed</ion-label>
        </ion-chip>
      </p>
      <p class="commonFlex commonFamily commonTitle-15">
        <span>Buyprice : ₹{{item.buyPrice}}</span>
        <span>Sellprice : ₹{{item.sellPrice}}</span>
      </p>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>
