ion-toolbar {
  --padding-start: 0;
  .prediction_title {
    color: #000000 !important;
  }
}
.normal_table {
  width: 100%;
  border: 1px solid #dddddd;
  border-bottom: none;
  thead tr {
    height: 50px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
    th {
      padding-left: 8px;
      font-size: 18px;
    }
  }
  tbody tr {
    height: 48px;
    border-bottom: 1px solid #dddddd;
    td {
      padding-left: 8px;
      font-size: 16px;
    }
  }
}
.my-content {
  height: 100%;
}
ion-chip {
  margin: 0;
}
.predict_item {
  padding: 5px 0;
  border-bottom: 1px solid #dddddd;

  .morebtn {
    margin: 0;
    width: 35px;
    height: 35px;
    --border-radius: 50%;
    --padding-start: 5px;
    --padding-end: 5px;
  }
}

.common_content ion-title {
  padding: 0;
}
