<!-- <app-header></app-header> -->
<ion-content>
  <div class="common_content">
    <ion-toolbar mode="md">
      <ion-title class="prediction_title">My Predictions</ion-title>
      <ion-buttons slot="end">
        <ion-button class="common_add" (click)="addpredict()">
          <ion-icon slot="start" name="add"></ion-icon>
          New Prediction
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

    <table class="normal_table ion-hide-md-down">
      <thead>
        <tr>
          <th>Stock</th>
          <th>Symbol</th>
          <th>Trade Date</th>
          <th>Buyprice</th>
          <th>Sellprice</th>
          <th>Status</th>
          <th>ROI</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of predictions">
          <td>{{item.stock.name}}</td>
          <td>{{item.stock.symbol}}</td>
          <td class="commonFamily">{{item.tradeDate | date:'dd/MM/YYYY'}}</td>
          <td class="commonFamily">₹{{item.buyPrice}}</td>
          <td class="commonFamily">₹{{item.sellPrice}}</td>
          <td>{{item.status}}</td>
          <td class="commonFamily">{{item['ROI'] | number}}</td>
          <td>
            <ion-button
              class="morebtn"
              (click)="actionClick($event,item)"
              fill="clear"
            >
              <ion-icon
                slot="icon-only"
                name="ellipsis-vertical-outline"
              ></ion-icon>
            </ion-button>
          </td>
        </tr>
      </tbody>
    </table>

    <ion-item *ngFor="let item of predictions" class="predict_item">
      <ion-label class="ion_label">
        <p class="symbol_status">
          <span> {{item.stock.symbol}}</span>
          <ion-button
            (click)="actionClick($event,item)"
            class="morebtn"
            fill="clear"
          >
            <ion-icon
              slot="icon-only"
              name="ellipsis-vertical-outline"
            ></ion-icon>
          </ion-button>
        </p>
        <h2 class="stock_name commonTextLine">{{item.stock.name}}</h2>
        <p class="commonFamily">{{item.tradeDate | date:'dd/MM/YYYY'}}</p>
        <p class="price_tag">
          <span>
            <span>
              <span>Buyprice :</span>
              <span class="price commonFamily">₹{{item.buyPrice}}</span>
            </span>
            <span class="space"></span>
            <span>
              <span>Sellprice :</span>
              <span class="price commonFamily">₹{{item.sellPrice}}</span>
            </span></span
          >
          <span>{{item.status}}</span>
        </p>
      </ion-label>
    </ion-item>
  </div>
</ion-content>
