<ion-content>
  <div class="main-content">
    <img class="logo" src="assets/images/indiapredict-logo (1).svg" alt="" />

    <p class="desc">Please sign in to continue</p>
    <!-- <ts-google-signin></ts-google-signin> -->
    <div *ngIf="!user" id="login-button-container" class="login_button">
      <asl-google-signin-button
        type="standard"
        size="large"
        logo_alignment="left"
        theme="outline"
        [style]="retracted ? 'display:none' : 'display:inherit'"
      ></asl-google-signin-button>
    </div>

    <ion-button (click)="facebook()" class="fb_button">
      <ion-icon slot="start" name="logo-facebook"></ion-icon>
      Continue with facebook
    </ion-button>
  </div>
</ion-content>
