<ion-card class="latest_card">
  <div class="userId">
    <ion-avatar>
      <img [src]="latestItem.user.picture" alt="" />
    </ion-avatar>
    <div>
      <!-- <p class="commonDesc">{{ latestItem?.user?.provider }}</p> -->
      <h3 class="commonTitle-15">{{ latestItem.user.name }}</h3>
    </div>
  </div>
  <!-- <ion-avatar>
    <img [src]="latestItem.user.picture" alt="" />
  </ion-avatar> -->

  <div class="latest_detail">
    <!-- <p class="commonFlex commonDesc">
      <span>{{ latestItem.user.name }}</span>
      <span>{{ latestItem.type }}</span>
    </p> -->
    <p class="commonFlex commonDesc">
      <span> {{ latestItem.stock?.symbol }}</span>
      <ion-chip color="success" *ngIf="latestItem?.status === 'PENDING'">
        <ion-icon name="radio-button-on-outline"></ion-icon>
        <ion-label>Active</ion-label>
      </ion-chip>

      <ion-chip
        color="danger"
        *ngIf="
          latestItem?.status === 'FAILED' || latestItem?.status === 'COMPLETED'
        "
      >
        <ion-icon name="close-circle-outline"></ion-icon>
        <ion-label>Closed</ion-label>
      </ion-chip>
    </p>
    <h3 class="commonTitle-16 commonTextLine">
      {{ latestItem?.stock.name }}
    </h3>
    <p class="commonFlex commonDesc commonFamily">
      <span
        >Created At : {{ latestItem?.createdAt | date : "mediumDate" }}</span
      >
      <span>trade Date :{{ latestItem?.tradeDate | date : "mediumDate" }}</span>
    </p>
    <p class="commonFlex commonDesc">
      <span class="commonFamily">
        <span
          *ngIf="
            latestItem?.status === 'FAILED' ||
            latestItem?.status === 'COMPLETED'
          "
          >Actual ROI :</span
        >
        <span *ngIf="latestItem?.status === 'PENDING'">Expected ROI : </span>

        <span>{{latestItem?.['ROI'] | number}}</span>
      </span>
      <span>{{ latestItem.type }}</span>
    </p>
    <p class="commonTitle-15 commonFlex commonFamily">
      <span>Buy Price : ₹{{ latestItem.buyPrice }}</span>
      <span>Sell Price : ₹{{ latestItem.sellPrice }}</span>
    </p>
    <p class="commonTitle-15 commonFlex commonFamily">
      <span>Stop Loss : ₹{{ latestItem.stopLoss || 0 }}</span>
    </p>
  </div>
</ion-card>
