<ion-card class="trending_card">
  <div class="img_div">
    <span>{{ stockItem.name[0] }}</span>
  </div>

  <div class="details">
    <p class="commonFlex commonDesc">
      <span> {{ stockItem.symbol }}</span>
      <!-- <ion-icon
        *ngIf="stockItem?.['meta'] && stockItem.flag;else up"
        class="down-icon"
        name="arrow-down-outline"
      ></ion-icon>
      <ng-template #up>
        <ion-icon class="up-icon" name="arrow-up-outline"></ion-icon>
      </ng-template> -->

      <!-- <span class="commonFamily">
        {{stockItem.meta?.['Global Quote']?.['10. change percent']}}</span
      > -->
    </p>
    <!-- <h3>₹{{stockItem.meta?.['Global Quote']?.['05. price']}}</h3> -->
    <h3 class="commonMediumTitle commonTextLine">{{ stockItem.name }}</h3>
  </div>
</ion-card>
