<!-- <app-header></app-header> -->
<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="contactClick()">
      <ion-icon name="help"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="common_content">
    <ion-card class="login_alertcard" *ngIf="!userData && !loginCard">
      <img src="assets/images/login.png" alt="" />
      <div>
        <p>You must login in order to view the active predictions.</p>
        <ion-button class="loginClick" (click)="loginClick()">
          Login
        </ion-button>
      </div>
    </ion-card>

    <div class="search">
      <input
        type="text"
        #search
        (keyup.enter)="searchKey($event)"
        class="searchTerm"
        placeholder="Search stocks, users..."
      />
      <ion-button
        type="submit"
        class="searchButton"
        (click)="searchClick(search.value)"
      >
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </div>
    <h2 class="sub_title">Latest Predictions</h2>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ng-container *ngFor="let item of predictionArray;let i = index">
          <ion-col
            *ngIf="i < 6"
            class="col_assets"
            sizeLg="4"
            sizeMd="6"
            sizeSm="12"
            sizeXs="12"
          >
            <latest-card
              [latestItem]="item"
              (click)="latestModal(item)"
            ></latest-card>
          </ion-col>
        </ng-container>
      </ion-row>
    </ion-grid>

    <!-- <h2 class="sub_title">Trending Assets</h2>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ng-container *ngFor="let item of trendingAssets;let i =index">
          <ion-col
            *ngIf="i < 6"
            class="col_assets"
            sizeLg="4"
            sizeMd="6"
            sizeSm="12"
            sizeXs="12"
          >
            <stock-card
              [stockItem]="item"
              (click)="stockModal(item)"
            ></stock-card>
          </ion-col>
        </ng-container>
      </ion-row>
    </ion-grid> -->

    <!-- <ion-slides pager="false" [options]="assetsSlideOpts">
    <ion-slide *ngFor="let item of trendingAssets">
       <stock-card
            [stockItem]="item"
            (click)="stockModal(item)"
          ></stock-card>
    </ion-slide>
  </ion-slides> -->
    <h2 class="sub_title">Predictor Leader Board</h2>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col
          class="col_assets"
          sizeLg="4"
          sizeMd="6"
          sizeSm="12"
          sizeXs="12"
          *ngFor="let item of predictorArray"
        >
          <ion-card class="Predictors_card" (click)="communityClick(item)">
            <ion-avatar class="img_div">
              <img [src]="item.picture" alt="" />
            </ion-avatar>
            <div class="Predict">
              <h3 class="commonTitle-16 commonTextLine">{{item.name}}</h3>
              <p class="commonFlex commonDesc">
                <span class="commonFamily"
                  >Average Annual ROI : {{item?.['annualROI'] }}</span
                >
              </p>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
