<!-- <app-header></app-header> -->

<!-- <ion-content> -->
<div class="common_content">
  <div class="search">
    <input
      type="text"
      class="searchTerm"
      placeholder="What are you looking for?"
    />
    <ion-button type="submit" class="searchButton">
      <ion-icon slot="icon-only" name="search-outline"></ion-icon>
    </ion-button>
  </div>
  <h2 class="sub_title">Trending Assets</h2>
  <ion-slides pager="false" [options]="assetsSlideOpts">
    <ion-slide *ngFor="let item of [0,1,2]">
      <ion-card class="trending_card" (click)="stockModal(item)">
        <div class="img_div">
          <img src="assets/images/download.jpeg" alt="" />
        </div>
        <div class="details">
          <p>
            TAT.AMS
            <ion-icon class="down-icon" name="caret-down-outline"></ion-icon>
            2.5%
          </p>
          <h3>$ 20,10,250</h3>
        </div>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <h2 class="sub_title">Trending Creditors</h2>
  <ion-grid class="ion-hide-sm-down">
    <ion-row>
      <ion-col
        sizeLg="4"
        sizeMd="4"
        sizeSm="6"
        sizeXs="6"
        *ngFor="let item of [0,1,2,3,4,5,6]"
      >
        <ion-card class="Communities_card" (click)="communityClick(item)">
          <div class="img_div">
            <img src="assets/images/download (1).jpeg" alt="" />
          </div>

          <h3 class="name">Stock</h3>
          <p class="amount">$ 4,21,350</p>
          <ion-button class="follow_btn" shape="round"> Follow </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item
    lines="none"
    class="creditor_item ion-hide-sm-up"
    *ngFor="let item of [0,1,2,3,4,5,6]"
  >
    <ion-avatar>
      <img
        [src]="'https://lh3.googleusercontent.com/a/AEdFTp7ozPiyicLoByBL18eKZHdLFeVuGfyNM8fxSgDg=s96-c'"
      />
    </ion-avatar>
    <ion-label>
      <h2 class="commonTextLine">Sedhu user</h2>
      <p class="commonTextLine">sedhupathi.marvenics@gmail.com</p>
      <p></p>
    </ion-label>
  </ion-item>
</div>
<!-- </ion-content> -->
