// ion-content {
.search {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.searchTerm {
  width: 100%;
  border: 2px solid var(--ion-color-primary);
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #000000;
  width: 500px;
  height: 48px;
}

.searchTerm:focus {
  color: #000000;
}

.searchButton {
  color: #fff;
  --border-radius: 0 5px 5px 0;
  margin: 0;
  height: 48px;
  --box-shadow: none;
}
.sub_title {
  font-size: 22px;
  color: #000000;
  font-weight: 600;
}
ion-slide {
  cursor: pointer;
}
.trending_card {
  padding: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 8px;
  box-shadow: 0 0 5px 1px #ebe4e4;
  .img_div {
    background: var(--ion-color-primary);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    color: #ffffff;
    font-weight: 600;
  }
  .stock_price {
    margin-top: 0;
    text-align: left;
    height: 37px;
    line-height: 37px;

    .price {
      font-size: 24px;
      color: #000000;
      font-weight: 600;
      font-family: "Courier New", Courier, monospace;
    }
    .stock_percent_down {
      background: #f3b3b3;
      padding: 10px;
      border-radius: 8px;
      color: #b73f3f;
      margin-left: 10px;
      font-size: 16px;
      ion-icon {
        color: #b73f3f;
        font-size: 16px;
      }
    }
    .stock_percent_up {
      background: #a4e3a4;
      padding: 10px;
      border-radius: 8px;
      color: #238923;
      margin-left: 10px;
      font-size: 16px;
      ion-icon {
        color: #238923;
        font-size: 16px;
      }
    }
  }
  .details {
    padding-left: 10px;
    p {
      margin: 0;
      .down-icon {
        font-size: 16px;
        color: #b73f3f;
        margin-left: 10px;
      }
      .up-icon {
        color: #238923;
        font-size: 16px;
        margin-left: 10px;
      }
    }
    h3 {
      margin: 0;
      color: #000000;
      padding: 5px 0;
      font-size: 18px;
      font-weight: 600;
      font-family: "Courier New", Courier, monospace;
      text-align: left;
    }
  }
}

.Communities_card {
  padding: 20px;
  display: block;
  text-align: center;
  width: 100%;
  margin: 8px;
  box-shadow: 0 0 5px 1px #ebe4e4;

  .img_div {
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 15px;

    img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .name {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
  }
  .amount {
    font-size: 14px;
    color: gray;
    font-family: "Courier New", Courier, monospace;
  }
}

@media (max-width: 576px) {
  .searchTerm {
    width: 100%;
  }
  .sub_title {
    font-size: 18px;
    color: #000000;
    font-weight: 600;
  }
  .trending_card {
    padding: 12px;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 8px;
    box-shadow: 0 0 5px 1px #ebe4e4;

    .details {
      padding-left: 10px;
      p {
        margin: 0;
        .down-icon {
          font-size: 10px;
          color: orange;
        }
      }
      h3 {
        margin: 0;
        color: #000000;
        padding: 5px 0;
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
}
