<app-header></app-header>
<ion-content>
  <div class="common_content disclaimer">
    <h1>Disclaimer</h1>
    <p>
      Investment in securities markets are subject to market risks, all users
      are advised to conduct their own independent research into individual
      stocks before making a purchase decision. Users should not rely solely on
      the information provided here in making any investment. Indiapredict.com
      does not guarantee the accuracy, adequacy or completeness of any
      information and is not responsible for any errors or omissions or for the
      results obtained from the use of such information.
    </p>
    <p>
      Users have complete and full responsibility for the outcomes of all
      trading decisions that they make, Indiapredict.com is not responsible for
      any loss users may incur.
    </p>
  </div>
  <app-footer></app-footer>
</ion-content>
