ion-content {
  .disclaimer {
    height: 100%;
  }
  h1 {
    font-size: 40px;
    font-weight: 600;
    margin-top: 0;
    color: #092b66;
  }
  p {
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px;
    line-height: 28px;
    color: gray;
  }
}
