<!-- <app-header></app-header> -->
<ion-content>
  <div class="common_content">
    <div class="search">
      <input
        type="text"
        #search
        (keyup.enter)="searchKey($event)"
        class="searchTerm"
        placeholder="Search stocks..."
      />
      <ion-button
        type="submit"
        class="searchButton"
        (click)="searchClick(search.value)"
      >
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </div>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
      ></ion-refresher-content>
    </ion-refresher>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ng-container *ngFor="let item of trendingAssets;let i =index">
          <ion-col
            class="col_assets"
            sizeLg="4"
            sizeMd="6"
            sizeSm="12"
            sizeXs="12"
          >
            <stock-card
              [stockItem]="item"
              (click)="stockModal(item)"
            ></stock-card>
          </ion-col>
        </ng-container>
      </ion-row>
    </ion-grid>

    <ion-infinite-scroll
      threshold="100px"
      (ionInfinite)="loadData($event)"
      *ngIf="totalPages > page"
    >
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data..."
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <app-footer></app-footer>
</ion-content>
