.predictor_item {
  --inner-padding-end: 0;
  ion-label {
    white-space: unset !important;
    padding-left: 10px;
  }
}
.price_tag {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .space {
    border-right: 2px solid #dddddd;
    margin: 0 8px;
  }
  .price {
    font-size: 18px;
    color: #000000;
    font-weight: 500;
  }
}
